.container{
  background: aqua;
  width: 90%; 
  /*height: 1300px;*/  
  margin: 0 auto;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap; 
  align-items: center;
  
} 

.card-container {
  border-radius: 20px;
  background: rgb(253, 250, 250);
  width: 250px;
  height: 500px;
  box-shadow: var(--clr-grey) 0px 0px 5px;
}
.card-container:hover {
  background: var(--clr-light-brown);
  color: white;
}

.img-dog {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 250px;
  height: 250px;
  /* object-fit: cover; */
}

.info-dog {
  padding: 5px;
}

.title-dog {
  /* font-weight: 700; */
  font-size: 1.2rem;
  color: var(--clr-dark-brown);
  font-family: sans-serif;
}

.weight-dog {
  color: var(--clr-orange);
  font-family: sans-serif;
}

.temperaments-dog {
  margin-top: 7px;
  color: var(--clr-dark-brown);
  font-family: sans-serif;
}