.form-container {
  padding-block: 1.5rem;
}

.form-body{
  display: flex;
  flex-direction: column;
  background-color: var(--clr-cream);
  border-radius: 25px;
  margin: 0 1rem;
  min-width: 290px;
  max-width: 450px;
  text-align: left;
  padding: 1.75rem 1.5rem;
}

.back-btn {
  margin-bottom: 15px;
  align-self: flex-start;
  padding: .45rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: var(--clr-orange);
  transition: 0.1s linear;
}
.back-btn:hover {
  background-color: var(--clr-light-brown);
}

.obligatory {
  color: var(--clr-orange);
  font-weight: 700;
}

.form-error{
  color: red;
  font-size: 13px;
}

.form-title {
  font-family: var(--ff-nunito);
  font-size: 1.25rem;
  line-height: 1.25;
  margin-bottom: .25rem;
}
.form-subtitle{
  font-family: var(--ff-nunito);
  margin-bottom: .5rem;
}

.form-creation{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-label-title{
  margin-top: .5rem;
}

.form-creation input, 
.form-creation select {
  background-color: white;
  border-radius: 25px;
  border: 1px solid var(--clr-light-brown);
  padding: 0.25rem 1rem;
  outline: none;
}

.form-doble-input-container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.form-doble-input{
  width: 49%;
}
.form-doble-error-container{
  display: flex;
  justify-content: space-between;
}
.form-doble-error{
  width: 48%;
}

.form-temperaments-selected{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-top: .25rem;
}
.form-temperaments-selected-item {
  border: 1px solid var(--clr-orange);
  background-color: var(--clr-white);
  border-radius: 10px;
  padding: .25rem .75rem;
  margin: 2px;
}
.form-temperaments-delete-btn {
  background: none;
  border: none;
  color: var(--clr-orange);
  padding-left: 8px;
  cursor: pointer;
}
.form-submit-btn {
  margin-top: 1rem;
  border: none;
  border-radius: 25px;
  background-color: var(--clr-orange);
  color: white;
  font-family: var(--ff-nunito);
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 0.1em;
  padding: .75rem 1rem;
  cursor: pointer;
}
.form-submit-btn:hover {
  background-color: white;
  color: var(--clr-orange);
}

@media (min-width:420px){
  .form-body {
    padding: 2.25rem 2rem;
  }
  .form-title {
    font-size: 1.5rem;
    margin-bottom: .5rem;
  }
  .form-label-title {
    margin-top: .75rem;
  }
  .form-creation input, 
  .form-creation select {
    padding: 0.5rem 1.25rem;
  }
}

@media (min-width:480px){
  .form-body {
    margin-inline: auto;
  }
}