/* .cssload-wave {
  display: block;
  margin: 125px auto;
  width: 138px;
}

.cssload-wave,
.cssload-wave * {
  box-sizing: border-box;
}

.cssload-wave span {
  display: inline-block;
  height: 19px;
  width: 19px;
  background: var(--clr-dark-brown);
  border-radius: 625px;
  background-clip: padding-box;
}

.cssload-wave span:nth-child(1) {
  animation: cssload-push 1.15s 0.06s infinite
    cubic-bezier(0.005, 0.56, 0.58, 1.59);
}
.cssload-wave span:nth-child(2) {
  animation: cssload-push 1.15s 0.12s infinite
    cubic-bezier(0.005, 0.56, 0.58, 1.59);
}
.cssload-wave span:nth-child(3) {
  animation: cssload-push 1.15s 0.17s infinite
    cubic-bezier(0.005, 0.56, 0.58, 1.59);
}
.cssload-wave span:nth-child(4) {
  animation: cssload-push 1.15s 0.23s infinite
    cubic-bezier(0.005, 0.56, 0.58, 1.59);
}
.cssload-wave span:nth-child(5) {
  animation: cssload-push 1.15s 0.29s infinite
    cubic-bezier(0.005, 0.56, 0.58, 1.59);
}

@keyframes cssload-push {
  0% {
    transform: translateX(0px) scale(0.9, 0.6);
  }
  50% {
    transform: translateY(-25px) scale(0.7, 1.1);
    background: var(--clr-light-brown);
  }
  100% {
    transform: translateX(0px) scale(0.9, 0.6);
  }
} */