
.navContainer{
  width: 100%;
  height: 60px;
  background: var(--clr-dark-brown);
}

.navContainerSec{
  width: 90%;
  margin: 0 auto;
  height: 60px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
  
  /* gap: 50px; */
}

.dogapp{
  color: white;
}

.navTitulo{
  color: white;
  padding: 10px 0 0 0;
}

.navSearch{
  padding: 5px 0 0 20px;
}